absl-py==2.1.0
accelerate==0.25.0
aiocron==1.8
aiofiles==23.2.1
aiohttp==3.8.4
aioredis==2.0.1
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
ansicon==1.89.0
anthropic==0.8.1
anyio==3.7.1
anytree==2.12.1
appdirs==1.4.4
asgiref==3.7.2
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.3
attr==0.3.2
attrs==23.1.0
beautifulsoup4==4.12.2
blessed==1.20.0
blinker==1.7.0
boltons==21.0.0
bracex==2.4
cachetools==5.3.2
camel-converter==3.1.0
certifi==2023.7.22
cffi==1.16.0
channels==4.0.0
chardet==5.2.0
charset-normalizer==3.3.1
click==8.1.7
click-option-group==0.5.6
colorama==0.4.6
comtypes==1.3.1
contourpy==1.1.1
cpm-kernels==1.0.11
croniter==2.0.1
cycler==0.12.1
Cython==3.0.9
dataclasses==0.6
dataclasses-json==0.5.14
datasets==2.16.1
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.7
discord==2.3.2
discord.py==2.3.2
distlib==0.3.7
distro==1.8.0
Django==4.2.7
dnspython==2.4.2
dominate==2.8.0
dtw-python==1.3.1
et-xmlfile==1.1.0
face==22.0.0
faiss-cpu==1.7.4
fastapi==0.108.0
ffmpy==0.3.1
filelock==3.12.2
fire==0.4.0
flatbuffers==23.5.26
fonttools==4.43.1
frozenlist==1.4.0
fsspec==2023.12.2
gast==0.5.4
git-python==1.0.3
gitdb==4.0.11
gitignore-parser==0.1.9
GitPython==3.1.40
glom==22.1.0
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-api-python-client==2.119.0
google-auth==2.25.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-generativeai==0.3.2
google-pasta==0.2.0
googleapis-common-protos==1.62.0
gradio==3.50.2
gradio_client==0.6.1
greenlet==3.0.1
grpcio==1.60.0
grpcio-status==1.60.0
grpcio-tools==1.59.3
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hanlp==2.1.0b56
hanlp-common==0.0.19
hanlp-downloader==0.0.25
hanlp-trie==0.0.5
hpack==4.0.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.25.2
huggingface-hub==0.20.2
hyperframe==6.0.1
HyperPyYAML==1.2.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
inquirer==3.1.4
isodate==0.6.1
jieba==0.42.1
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-path==0.3.2
jsonschema-spec==0.2.4
jsonschema-specifications==2023.7.1
keras==2.15.0
kiwisolver==1.4.5
kwconfig==1.1.7
lancedb==0.4.0
langchain==0.0.352
langchain-community==0.0.6
langchain-core==0.1.3
langchainplus-sdk==0.0.20
langsmith==0.0.75
latex2mathml==3.77.0
lazy-object-proxy==1.9.0
libaio==0.9.2
libclang==16.0.6
libcst==1.0.1
litellm==0.1.824
llvmlite==0.42.0
loguru==0.6.0
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.0
mdtex2html==1.2.0
mdurl==0.1.2
meilisearch==0.21.0
metagpt==0.6.6
ml-dtypes==0.2.0
more-itertools==10.1.0
motor==3.3.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
networkx==3.2.1
numba==0.59.0
numexpr==2.8.7
numpy==1.24.3
oauthlib==3.2.2
open-interpreter==0.1.7
openai==1.6.0
openai-whisper==20231117
openapi-core==0.18.2
openapi-schema-pydantic==1.2.4
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
opencv-python==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.9.10
outcome==1.3.0.post0
overrides==7.6.0
packaging==23.2
pandas==2.0.3
parse==1.20.0
pathable==0.4.3
peewee==3.17.0
peft==0.7.1
phrasetree==0.0.8
Pillow==10.1.0
platformdirs==3.10.0
playwright==1.40.0
pluggy==1.3.0
pocketsphinx==5.0.3
portalocker==2.8.2
prance==23.6.21.0
proto-plus==1.23.0
protobuf==4.25.1
psutil==5.9.6
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
pycorrector==1.0.3
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.8.1b0
pydub==0.25.1
pyee==11.0.1
Pygments==2.17.2
PyJWT==2.8.0
pylance==0.9.0
pymongo==4.6.1
pynvml==11.5.0
pyparsing==3.1.1
pypinyin==0.51.0
pyproject==1.3.1
pyreadline3==3.4.1
PySocks==1.7.1
pytest==7.2.2
pytest-mock==3.11.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-editor==1.0.4
python-multipart==0.0.6
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.1
qdrant-client==1.7.0
ratelimiter==1.2.0.post0
readchar==4.0.5
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
retry==0.9.2
rfc3339-validator==0.1.4
rich==13.7.0
rpds-py==0.13.1
rsa==4.9
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
safetensors==0.4.1
scipy==1.11.3
seaborn==0.13.0
search-google==1.2.1
selenium==4.16.0
semantic-kernel==0.4.3.dev0
semantic-version==2.10.0
semgrep==1.50.0
semver==3.0.2
sentencepiece==0.1.99
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.5
speechbrain==1.0.0
SpeechRecognition==3.10.1
SQLAlchemy==2.0.23
sqlparse==0.4.4
sse-starlette==1.8.2
starlette==0.32.0.post1
streamlit==1.29.0
sympy==1.12
ta==0.10.2
tenacity==8.2.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
thop==0.1.1.post2209072238
tiktoken==0.5.2
timm==0.9.12
tokenizers==0.15.0
tokentrim==0.1.13
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
toposort==1.5
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchvision==0.16.0
tornado==6.3.3
tqdm==4.65.0
transformers==4.36.2
trio==0.23.1
trio-websocket==0.11.1
typer==0.9.0
typing-inspect==0.8.0
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
ultralytics==8.0.200
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.24.0.post1
validators==0.22.0
virtualenv==20.24.2
visdom==0.2.4
watchdog==3.0.0
wcmatch==8.5
wcwidth==0.2.12
webrtcvad==2.0.10
websocket-client==1.6.2
websockets==12.0
Werkzeug==3.0.1
wget==3.2
whisper-timestamped==1.15.2
Wikipedia-API==0.6.0
win32-setctime==1.1.0
wrapt==1.14.1
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.3
yaspin==3.0.1
zhipuai==1.0.7
zipp==3.17.0
