aiocron==1.8
aiohttp==3.8.4
beautifulsoup4==4.12.3
discord.py==2.3.2
fire==0.4.0
gradio==4.31.4
hanlp==2.1.0b56
keybert==0.8.4
metagpt==0.6.6
nltk==3.8.1
numpy==1.24.3
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycorrector==1.0.3
pydantic==2.7.1
pytz==2023.3.post1
Requests==2.31.0
scikit_learn==1.4.2
SpeechRecognition==3.10.1
streamlit==1.33.0
streamlit_extras==0.4.2
transformers==4.36.2
Wikipedia_API==0.6.0
youtube_dl==2021.12.17
youtube_search==2.1.2
youtube_transcript_api==0.6.2
~treamlit==1.29.0
